html, body{
    margin: 0px;
    background-color: #2F4F30;
    color: white;
}

.title {
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 25px;
}